<form class="edit_restaurant-form">
  <div>
    <label for="business_name_edit">restaurant name:</label>
    <input type="text" id="business_name_edit" />
  </div>
  <div>
    <label for="business_email_edit">email:</label>
    <input type="email" id="business_email_edit" />
  </div>
  <div>
    <label for="business_password_edit">password:</label>
    <input type="password" id="business_password_edit" />
  </div>
  <div>
    <label for="business_occupancy_edit">occupancy:</label>
    <input type="number" id="business_occupancy_edit" />
  </div>
  <div>
    <label for="business_address_edit">address:</label>
    <input type="text" id="business_address_edit" />
  </div>
  <div>
    <label for="business_phone_edit">phone number:</label>
    <input type="number" id="business_phone_edit" />
  </div>
  <div>
    <label for="business_hours_open_edit">when do you open?:</label>
    <input type="number" id="business_hours_open_edit" />
  </div>
  <div>
    <label for="business_hours_close_edit">when do you close?:</label>
    <input type="number" id="business_hours_close_edit" />
  </div>
  <div>
    <label for="business_website_edit">website:</label>
    <input type="url" id="business_website_edit" />
  </div>
  <div>
    <label for="business_image_edit">website:</label>
    <input type="image" id="business_image_edit" />
  </div>
  <div>
    <button type="submit">Submit Changes</button>
  </div>
</form>