<form class="edit_user_form">
  <div>
    <label for="first_name_edit">first name:</label>
    <input type="text" id="first_name_edit" />
  </div>
  <div>
    <label for="last_name_edit">last name:</label>
    <input type="text" id="last_name_edit" />
  </div>
  <div>
    <label for="username_edit">username:</label>
    <input type="text" id="username_edit" />
  </div>
  <div>
    <label for="user_email_edit">email:</label>
    <input type="text" id="email_edit" />
  </div>
  <div>
    <label for="user_password_edit">password:</label>
    <input type="password" id="password_edit" />
  </div>
  <div>
    <label for="user_password_edit">password:</label>
    <input type="password" id="password_edit" />
  </div>
  <div>
    <button type="submit">Submit Changes</button>
  </div>
</form>