<h1>test</h1>

<div class="row d-flex justify-content-center ">
    {{!-- List of restaurants --}}
    <div class="col-4" style="background-color: blueviolet;">
        <h1>test</h1>
    </div>

    {{!-- Restaurant info pane --}}
    <div class="col-8" style="background-color: rgb(43, 226, 192);">
        <h1>test</h1>
    </div>
</div>