<div class="row d-flex justify-content-between flex-wrap">

    {{#each restaurants as |restaurant|}}
    <a class="col-3 m-3" href="/{{restaurant.id}}">
        <div class="card ">
            <img src="/images/{{restaurant.business_image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{restaurant.business_name}}</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>