<div class="row d-flex justify-content-center ">
    {{!-- List of restaurants --}}
    <div class="col-4" style="background-color: blueviolet;">
        <h1>Restaurants</h1>
        <ol>
            {{#each restaurants as |restaurant|}}
            <li>
                <a href="/restaurant/{{restaurant.id}}">{{restaurant.business_name}}</a>
            </li>
            {{/each}}
        </ol>
    </div>

    {{!-- Restaurant info pane --}}
    <div class="col-8 d-flex justify-content-center" style="background-color: rgb(43, 226, 192);">
        {{> restaurant-info}}
    </div>
</div>