<form class="restaurant-login-form">
  <div>
    <label for="restaurant-email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="restaurant-password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="restaurant-signup-form">
  <div>
    <label for="restaurant-signup">restaurant name:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="restaurant-email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="restaurant-password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>