<form class="restaurant-signup-form">
  <div>
    <label for="business_name_signup">restaurant name:</label>
    <input type="text" id="business_name_signup" />
  </div>
  <div>
    <label for="business_occupancy_signup">occupancy:</label>
    <input type="number" id="business_occupancy_signup" />
  </div>
  <div>
    <label for="business_address_signup">address:</label>
    <input type="text" id="business_address_signup" />
  </div>
  <div>
    <label for="business_phone_signup">phone number:</label>
    <input type="number" id="business_phone_signup" />
  </div>
  <div>
    <label for="business_hours_open_signup">when do you open?:</label>
    <input type="number" id="business_hours_open_signup" />
  </div>
  <div>
    <label for="business_hours_close_signup">when do you close?:</label>
    <input type="number" id="business_hours_close_signup" />
  </div>
  <div>
    <label for="business_website_signup">website:</label>
    <input type="url" id="business_website_signup" />
  </div>
  <div>
    <label for="business_image_signup">image:</label>
    <input type="text" id="business_image_signup" />
  </div>
  <div>
    <button id="primary-button" type="submit">signup</button>
  </div>
</form>

