<form class="user_login_form">
  <div>
    <label for="user_email_login">email:</label>
    <input type="text" id="email_login" />
  </div>
  <div>
    <label for="user_password_login">password:</label>
    <input type="password" id="password_login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="user_signup_form">
  <div>
    <label for="first_name_signup">first name:</label>
    <input type="text" id="first_name_signup" />
  </div>
  <div>
    <label for="last_name_signup">last name:</label>
    <input type="text" id="last_name_signup" />
  </div>
  <div>
    <label for="username_signup">username:</label>
    <input type="text" id="username_signup" />
  </div>
  <div>
    <label for="user_email_signup">email:</label>
    <input type="text" id="email_signup" />
  </div>
  <div>
    <label for="user_phone_number">phone number:</label>
    <input type="text" id="phone_number" />
  </div>
  <div>
    <label for="user_password_signup">password:</label>
    <input type="password" id="password_signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>