* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-color: papayawhip !important;
  }
  
  nav a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
    transition: color .1s;
  }
  
  li {
    list-style: none;
  }
  
  nav a:hover {
    opacity: .7;
  }
   
  input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  #search {
    width: 100%;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #restaurant-card {
    text-decoration: none;
  }

  .card img {
    height: 200px;
  }

  .card-body {
    background-color: rgb(157, 212, 219);
  }

  .card p {
    font-size: 120%;
    font-weight: bold;
    color: navy;
  }
  
  header {
    border-bottom: 2px solid navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1%;
    height: 100px;
    background-color: papayawhip;
  }
  
  header h1 a img {
    height: 75px;
    max-width: 150px;
  }

  header h1 a:hover {
    opacity: 0.6;
  }

  #welcome-banner, footer {
    color: navy;
    font-weight: bolder;
  }

  .hero {
    height: 500px;
    background-image: url("/images/pexels-photo-7624446.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero input {
    width: 250px;
  }

  #auto-search {
    display: block;
  }

  #results {
    color: black;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }

  #res-btns button {
    border-radius: 10px;
    background-color: rgb(157, 212, 219);
    color: navy;
    box-shadow: 3px 3px 3px rgb(90, 92, 91);
    font-weight: bold;
    width: 200px;
  }

  #res-hours {
    color: navy;
    font-weight: bold;
  }

  #res-hours form {
    padding: 2% 2% 2% 0%;
    display: flex;
  }

  #res-hours label {
    padding: 2%;
  }

  #res-hours input {
    width: 100px;
  }

  #res-btns button:hover {
    opacity: .7;
  }

  #restaurant-detail {
    height: 600px;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    color: navy;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(90, 92, 91);
  }

  .info-wrapper {
    width: 50%;
    height: 50%;
    background-color: papayawhip;
    border: 2px solid black;
    border-radius: 10px;
  }

  .info-wrapper h1 {
    padding: 3% 3% 3% 8%;
    margin-top: 12%;
  }

  .info-wrapper li {
    font-weight: bold;
  }

  .modal-header {
    background-color: rgb(157, 212, 219);
    color: black;
    font-weight: bold;
  }

  .modal-body {
    background-color: papayawhip;
    color: navy;
    font-weight: bold;
  }

  .modal-footer {
    background-color: rgb(157, 212, 219);
    color: black;
    font-weight: bold;
  }

  .main-title {
    border-bottom: 2px solid navy;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
    margin: 0;
    background-color: papayawhip;
  }

  .disabled-link {
    pointer-events: none;
    text-decoration: line-through !important
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: navy;
    font-size: 100%;
    font-weight: bold;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    opacity: .7;;
  }
   
  #reservation-info {
    padding-top: 2%;
    color: navy;
    font-weight: bold;
  }

  #owner-info {
    padding-top: 3%;
  }

  #reservation-info li a, 
  .show-restaurant li a {
    color: navy;
    text-decoration: none;
  }

  #reservation-info li a:hover, 
  .show-restaurant li a:hover {
   opacity: .4;
  }
 
  #reservationImg-wrapper img {
    height: 250px;
    width: 250px;
  }

  #edit-reservation, #edit-restaurant {
    color: rgb(61, 95, 245);
    text-decoration: none;
  }

  #edit-reservation:hover {
   opacity: .7;
  }

  .edit_user_form, .edit_restaurant_form {
    font-weight: bold;
  }

  #primary-button {
    border-radius: 10px;
    background-color: rgb(157, 212, 219);
    color: navy;
    box-shadow: 3px 3px 3px rgb(90, 92, 91);
    min-width: 100px;
    font-weight: bold;
  }

  #primary-button:hover {
    opacity: .8;
  }

  #delete-button {
    border-radius: 10px !important;
    background-color: rgb(230, 64, 59) !important;
    color: black !important;
    box-shadow: 3px 3px 3px rgb(90, 92, 91) !important;
    min-width: 100px !important;
    font-weight: bold !important;
  }

  #delete-button:hover {
    opacity: .8;
  }

  .user_login_form, .user_signup_form, .restaurant-signup-form {
    font-weight: bold;
    padding-bottom: 3%;
  }

  .btn-wrapper {
    margin: 3%;
  }

  .btn-wrapper button {
    margin: 3px;
  }

  .show-restaurant {
    font-weight: bold;
    color: navy;
  }

  .show-restaurant h1 {
    margin-bottom: 5%;
    border-bottom: 2px solid rgb(157, 212, 219);
    margin-right: none;
    padding-right: none;
  }

  #add-restaurant {
    margin-top: 5%;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(157, 212, 219);
    width: 100% !important;
  }

  @media screen and (max-width: 575px) {
    
    #welcome-banner {
      display: none;
    }

    #restaurant-detail {
      margin: 5%;
      background-image: none !important;
      background-color: papayawhip !important;
      border: none;
      box-shadow: none;
      height: 300px;

    }

    .info-wrapper {
      height: 100% !important;
      width: 100% !important;
    }

    #hours {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; 
    }

    #res-hours input {
      width: 80px;
      height: 40px;
    }
  }