* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  nav a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
    transition: color .1s;
  }
  
  li {
    list-style: none;
  }
  
  nav a:hover {
    opacity: .7;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #restaurant-card {
    text-decoration: none;
  }

  .card img {
    height: 200px;
  }

  .card-body {
    background-color: rgb(157, 212, 219);
  }

  .card p {
    font-size: 120%;
    font-weight: bold;
    color: navy;
  }
  
  header {
    border-bottom: 2px solid navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    height: 100px;
    background-color: papayawhip;
  }
  
  header h1 a img {
    height: 75px;
    max-width: 150px;
  }

  header h1 a:hover {
    opacity: 0.6;
  }

  .hero {
    height: 500px;
    background-image: url("/images/pexels-photo-7624446.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero input {
    width: 250px;
  }

  .main-title {
    border-bottom: 2px solid navy;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
    margin: 0;
    background-color: papayawhip;
  }

  .disabled-link {
    pointer-events: none;
    text-decoration: line-through !important
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: navy;
    font-size: 100%;
    font-weight: bold;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    opacity: .7;;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }

  #reservation-info {
    padding-top: 2%;
    color: navy;
    font-weight: bold;
  }

  #reservation-info li a, 
  .show-restaurant li a {
    color: navy;
    text-decoration: none;
  }

  #reservation-info li a:hover, 
  .show-restaurant li a:hover {
   opacity: .4;
  }
 
  #reservationImg-wrapper img {
    height: 250px;
    width: 250px;
  }

  #edit-reservation, #edit-restaurant {
    color: rgb(61, 95, 245);
    text-decoration: none;
  }

  #edit-reservation:hover {
   opacity: .7;
  }

  .edit_user_form, .edit_restaurant_form {
    font-weight: bold;
  }

  #primary-button {
    border-radius: 10px;
    background-color: rgb(157, 212, 219);
    color: navy;
    box-shadow: 3px 3px 3px rgb(90, 92, 91);
  }

  #primary-button:hover {
    opacity: .8;
  }

  .show-restaurant {
    font-weight: bold;
    color: navy;
  }

  .show-restaurant h1 {
    margin-bottom: 5%;
    border-bottom: 2px solid rgb(157, 212, 219) ;
  }

  #add-restaurant {
    margin-top: 5%;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(157, 212, 219);
  }